table, tr , th,td{
	border:solid 1px;
	text-align: center;
}


/* Selector con clase*/
.Datos_gral{
	
	background-color: purple;
	color: white;
}


.Estructura{

	background-color: orange;
}

.Web{
	background-color: green;
}

.G_A{
	background-color: yellow;
}

.M_D{

	background-color: pink;
}

.N_E{

	background-color: blue;

}
